<mat-drawer-container class="vw-100 vh-100">
  <mat-drawer #drawer class="sidenav" color="primary" mode="push">

    <mat-toolbar color="primary" class="d-flex justify-content-between">
      <span>Opciones</span>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
    </mat-toolbar>


    <mat-nav-list>
      <a mat-list-item *ngFor="let menuItem of this.getMenuItems()" [routerLink]="menuItem.url"> <mat-icon matListItemIcon
          [fontIcon]="menuItem.icon"></mat-icon> {{ menuItem.title }}</a>
    </mat-nav-list>


  </mat-drawer>

  <div class="d-flex flex-column h-100  ">

    <mat-toolbar color="primary" class="d-flex justify-content-between">

      <button mat-icon-button extended aria-label="Show main menu" title="Show main menu" (click)="drawer.toggle()"
        [disabled]="this.user_isLogged()===false?true:false">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>

      <span id="title" (click)="this.title_onClick()">My App - Henry Chavez</span>


      <div>

        <button mat-button aria-label="Login" title="Login" (click)="this.bnLogin_onClick()"
          *ngIf="this.user_isLogged()===false">
          <mat-icon fontIcon="login"></mat-icon>
          Login
        </button>

        <div *ngIf="this.user_isLogged()">

          <button mat-button aria-label="Login" title="Login" (click)="this.bnLogout_onClick()">
            <mat-icon fontIcon="logout"></mat-icon>
            Logout
          </button>


          <user-visualizador-fotografia [height]="50" [width]="50"
            [image_base64]="this.user_logged().photoBase64"></user-visualizador-fotografia>
          <span class="text-black-50">{{this.user_logged().email}}</span>
        </div>
      </div>

    </mat-toolbar>

    <div class="w-100 h-100 p-3">
      <router-outlet></router-outlet>
    </div>



  </div>

</mat-drawer-container>